<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>编辑文章</title>
{block name="baseCSS"}{include file="base/css" /}{/block}
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-10">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>编辑分类</h5>
                </div>
                <div class="ibox-content">
                    <form id="form" method="post" action="" class="form-horizontal" enctype="multipart/form-data">
                        <input type="hidden" name="id" value="{$show.id}"/>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">分类标题：</label>
                            <div class="input-group col-sm-7">
                                <input id="title" type="text" class="form-control" name="title" value="{$show.title}">
                            </div>
                        </div>
                        
                        
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-8">
                                <button class="btn btn-primary" type="submit">确认提交</button>
                        		<a class="btn btn-default" href="javascript:history.back(-1)">返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{block name="baseJS"}{include file="base/js" /}{/block}
<script>
    require(['app', 'tipssort/edit'],function (app, create){
        create();
    });
</script>
</body>
</html>
