<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 文章分享页 -->
    <title>{$ArticleData['Title']}</title>
    <link href="__CSS__/CssReset.css" rel="stylesheet">
    <link href="__CSS2__/common.css" rel="stylesheet">
    <link href="__CSS2__/Articleshare.css" rel="stylesheet">
    <link href="__COMPONENT__/font-awesome/css/font-awesome.min.css?v=4.7.0" rel="stylesheet">
    <link href="__COMPONENT__/Fm/Fm.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <div class="ArticleBox clearfix">
            <div class="h3">{$ArticleData['Title']}</div>
            <!-- 医生作者信息 -->
            <div class="DictorBox clearfix">
                <img class="TX" src="{$DoctorData[0]['avatar']}" alt="">
                <div class="Box2 clearfix">
                    <span class="name">{$DoctorData[0]['nick_name']}</span>
                    <span class="hospital">{$DoctorData[0]['hospital']}</span>
                </div>
                <div class="Box2 clearfix">
                    <span class="department">{$DoctorData[0]['department_parent']}&nbsp;{$DoctorData[0]['title']}</span>
                </div>
                <a class="bt AppDownLoad">未关注</a>
            </div>
            <!-- 文章信息 -->
            <p class="SpBox2 clearfix">
                <span class="sp1 update_time" style="margin-right:0.7rem;">{$ArticleData['UpdateTime']}</span>
                <span class="sp1 views_count" style="float:right; margin:0 0.7rem;">
                <i class="fa fa-eye" style="margin:0 0.2rem;"></i>{$ArticleData['ViewsCount']}</span>
            </p>
            <p>
                <!-- 文章内容 -->
                {$ArticleData['content']}
            </p>
            <div class="Dz_Box clearfix">
                <a class="AppDownLoad Dz1">
                    <i class="fa fa-thumbs-up"></i>{$ArticleData['praise']}
                </a>
                <a class="AppDownLoad Dz2">
                    <i class="fa fa-comment"></i>立即咨询
                </a>
            </div>
            <!-- 文章评论区 -->
            <!-- $Book1一级评论数据 -->
            {if condition="empty($Book1) neq true"}
            <div class="Title2Box clearfix">
                <span class="Bag"></span>
                <span class="text">最新评论</span>
            </div>
            {volist name="Book1" id="vo"}
            <div class="BookBox clearfix">
                <img class="TX" src="__IMG__/a1.jpg" alt="">
                <div class="Box2 clearfix">
                    <span class="user_name">张小萌</span>
                    <span class="Book_thumbs">
                        <i class="fa fa-thumbs-up"></i>20</span>
                    <span class="Book_comment">
                        <i class="fa fa-comment"></i>2</span>
                </div>
                <span class="Book_time clearfix">2小时前</span>
                <p class="Book_content">{$vo.content}</p>
                <div class="BookBox2 clearfix">
                    <p>
                        <span>果果：</span>说得有道理！</p>
                    <p>
                        <button>共20条回复></button>
                    </p>
                </div>
            </div>
            {/volist} {/if} {if condition="empty($Book1) neq false"}
            <div class="Title2Box clearfix">
                <span class="Bag"></span>
                <span class="text2">下载APP查看更多精彩评论！</span>
            </div>
            {/if}
            {include file="./common/AppDownLoad" /}
        </div>
    </div>
</body>
<script src="__JS__/jquery.min.js"></script>
<script src="__COMPONENT__/vue/vue.min.js"></script>
<script src="__COMPONENT__/Fm/Fm.js"></script>
<script>
    //Fm插件
    var FmPopups = new Popups;
    var FmTool = new Tool;
    //设置Rem
    FmTool.Rem();
    //判断设备
    // if(FmTool.CheckIsAppleDevice()) {
    //     //alert("iOS设备");
    //     $('.AppDownLoad').attr('href','https://sj.qq.com/myapp/detail.htm?apkName=com.youyunbb.www.client');
    // } else if(FmTool.CheckIsAndroidDevice()) {
    //     //alert("安卓设备");
    //     $('.AppDownLoad').attr('href','https://sj.qq.com/myapp/detail.htm?apkName=com.youyunbb.www.client');
    // }
    //初始化Vue
    var app = new Vue({
        el: '#app',
        //数据源
        data:{
            //导航栏名称
            title: '{$Title}'
        },
        //自定义数据处理方法封装(执行与数据相关的操作)
        methods:{
            
        },
        //渲染前执行的内容(执行与数据相关的操作)
        computed:{
            
        }
    });
</script>

</html>