<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>大屏互动——照片上传</title>
    
    <link rel="stylesheet" href="__STATIC__/huod/css/CssReset.css">
    <link rel="stylesheet" href="__STATIC__/huod/css/index.css">
</head>
<body style="background:#ebebeb;">
    <div class="DBox clearfix">
        <img class="tx1" src="__STATIC__/huod/images/tx.jpg" alt="公众号头像">
        <img class="p1-img" src="__STATIC__/huod/images/p1.jpg" alt="">
        <p class="p1">Hello，欢迎参与我们的大屏互动，点击屏幕下方按钮上传你的照片，就可以马上上墙了哟~</p>
    </div>
    <div class="DBox clearfix">
        <img class="tx2" src="{$imageTX}" alt="用户微信头像">
        <img class="p2-img" src="__STATIC__/huod/images/p2.jpg" alt="">
        <p class="p2">好的，收到</p>
    </div>
    <div class="form">
        <button>上传我的照片</button>
    </div>
    <script src="__STATIC__/huod/js/m-Public.js"></script>
</body>
</html>