<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>咨询医生</title>
    <link href="{$Think.PUBLIC_PATH}/static/css/wechat/global.css" rel="stylesheet">
    <link href="{$Think.PUBLIC_PATH}/static/css/wechat/styles.css" rel="stylesheet">
</head>
<body>
<section class="search-result">
    <div class="search-null">
    <span class="search-null-icon"><i class="dk-null"></i></span>
    <p class="search-null－trip">很抱歉，没有找到符合要求的医生</p>
    <a href="{$Think.PUBLIC_PATH}/web/Wechat/index" class="returnLaster">返回搜索</a>
</div>

</section>
</body>
</html>