<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>咨询医生</title>
    <link href="{$Think.PUBLIC_PATH}/static/css/wechat/global.css" rel="stylesheet">
    <link href="{$Think.PUBLIC_PATH}/static/css/wechat/styles.css" rel="stylesheet">
</head>
<body style="background: #f2f2f2">
<section id="app" class="doctor-list" style="display: none">
    <ul class="doctor-group" v-for="item in list" @click="onClick(item.d_id)">
            <li class="clearfix">
                <div class="doctor-head list_head">
                    <img src="../images/head_portrait.png" alt="doctor"/>
                </div>
                <div class="doctor-info">
                    <p><strong>{{item.real_name}}</strong><span class="doctor_label">&nbsp;{{item.department_name}}&nbsp;{{item.title}}</span></p>
                    <p class="doctor-hospital">{{item.hospital}}</p>
                    <p class="tworow small">{{item.good_at}}</p>
                    <p><span class="price_doctor">¥{{item.image_price}}/次</span><span class="purchase_number">&nbsp;xx人购买</span></p>
                </div>
            </li>
    </ul>

</section>
<script src="{$Think.PUBLIC_PATH}/static/js/wechat/jquery-1.10.2.min.js"></script>
<script src="{$Think.PUBLIC_PATH}/static/js/wechat/utils.js"></script>
<script src="{$Think.PUBLIC_PATH}/static/js/wechat/config.js"></script>
<script src="{$Think.PUBLIC_PATH}/static/js/wechat/vue.js"></script>
<script src="{$Think.PUBLIC_PATH}/static/js/wechat/logic/search_value.js"></script>
</body>
</html>