<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>罗小鹏医师—图文咨询记录</title>
    <link href="{$Think.PUBLIC_PATH}/static/css/wechat/global.css" rel="stylesheet">
    <link href="{$Think.PUBLIC_PATH}/static/css/wechat/styles.css" rel="stylesheet">
</head>
<body>
<section id="app" class="chat-bg">
    <div class="bubbleDiv">
    </div>
</section>
<section class="chat-evaluate chatrecordF">
    <div class="chat-evaluate_box">
        <button class="chat-evaluate-btn chatrecordFbtn" onclick="evaluation()">评价医生</button>
    </div>
</section>
<script src="{$Think.PUBLIC_PATH}/static/js/wechat/jquery-1.10.2.min.js"></script>
<script src="{$Think.PUBLIC_PATH}/static/js/wechat/utils.js"></script>
<script src="{$Think.PUBLIC_PATH}/static/js/wechat/config.js"></script>
<script src="{$Think.PUBLIC_PATH}/static/js/wechat/vue.js"></script>
<script src="{$Think.PUBLIC_PATH}/static/js/wechat/logic/userChatRecord.js"></script>
</body>
</html>