<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>编辑案例</title>
{block name="baseCSS"}{include file="base/css" /}{/block}
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-10">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>编辑成功率文章</h5>
                </div>
                <div class="ibox-content">
                    <form id="form" method="post" action="" class="form-horizontal" enctype="multipart/form-data">
                        <input type="hidden" name="id" value="{$show.in_id}"/>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">文章标题：</label>
                            <div class="input-group col-sm-7">
                                <input id="title" type="text" class="form-control" name="title" value="{$show.title}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">关键字：</label>
                            <div class="input-group col-sm-7">
                                <input id="keyword" type="text" class="form-control" name="keyword" value="{$show.keyword}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">点击率：</label>
                            <div class="input-group col-sm-1">
                                <input id="views_count" type="text" class="form-control" name="views_count" required aria-required="true" value="{$show.views_count}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">缩略图：</label>
                            <input name="img_url" id="img_url" value="{$show.img_url}" type="hidden"/>
                            <div class="form-inline"  id="container">
                                <div class="input-group col-sm-2">
                            		<img id="imgshow" name="img_url" src="{$show.img_url}"  style="width: 100px;height:100px; margin-right:5px;" />
                                    <button type="button" class="layui-btn" id="pickfile">
                                        <i class="layui-icon">&#xe67c;</i>上传图片
                                    </button>
                                </div>
                                <div class="input-group col-sm-3">
                                    <div id="sm"></div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">文章内容：</label>
                            <div class="input-group col-sm-7">
                                <textarea name="content"  id="content" style="height:500px;">{$show.content}</textarea>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-8">
                                <button class="btn btn-primary" type="submit">确认提交</button>
                        		<a class="btn btn-default" href="javascript:history.back(-1)">返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{block name="baseJS"}{include file="base/js" /}{/block}
<script>
    require(['app','editor','qiniuUploader', 'increase/edit'],function (app, editor,qiniuUploader, create){
        qiniuUploader($("#imgshow"), $("#img_url"), false);
        editor('content');
        create();
    });
</script>
</body>
</html>
