<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>添加案例</title>
{block name="baseCSS"}{include file="base/css" /}{/block}
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-10">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>添加案例</h5>
                </div>
                <div class="ibox-content">
                    <form id="form" method="post" action="" class="form-horizontal" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">帖子ID：</label>
                            <div class="input-group col-sm-1">
                                <input id="post_id" type="text" class="form-control" name="post_id">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">用户ID：</label>
                            <div class="input-group col-sm-1">
                                <input id="user_id" type="text" class="form-control" name="user_id">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">评论内容：</label>
                            <div class="input-group col-sm-7">
                                <textarea name="content"  id="content" style="height:200px; width:100%;"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-8" id="editor-container">
                                <button class="btn btn-primary" type="submit">确认提交</button>
                        		<a class="btn btn-default" href="javascript:history.back(-1)">返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{block name="baseJS"}{include file="base/js" /}{/block}

<script>
    require(['app', 'comment/create'],function (app, create){
        create();
    });

</script>
</body>
</html>
