<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>成功案例</title>
{block name="baseCSS"}{include file="base/css" /}{/block}</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>活动专区列表</h5>
        </div>
        <div class="ibox-content">
            <div class="form-group clearfix col-sm-1">
                <a href="{:url('event/add')}"><button class="btn btn-outline btn-primary" type="button">添加活动</button></a>
            </div>
            <!--搜索框开始-->
            <form id='commentForm' role="form"   method="get" action="" class="form-inline pull-right">
                <div class="content clearfix m-b">
                    <div class="form-group">
                        <label>活动标题：</label>
                        <input type="text" class="form-control" id="title" name="searchText">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" style="margin-top:5px" id="search"><strong>搜 索</strong>
                        </button>
                    </div>
                </div>
            </form>
            <!--搜索框结束-->

            <div class="example-wrap">
                <div class="example">
                      <table class="table">
                          <thead>
                          <th width="80" style="text-align:center;">文章ID</th>
                          <th width="100" style="text-align:center;">医生姓名</th>
                          <th width="80" style="text-align:center;">头像</th>
                          <th width="150" style="text-align:center;">职称</th>
                          <th>活动标题</th>
                          <th width="80" style="text-align:center;">状态</th>
                          <th width="200">添加时间</th>
                          <th width="200">操作</th>
                          </thead>
                          
                          {foreach name="list" item="vo"}
                          <tr>
                              <td align="center">{$vo.event_id}</td>
                              <td align="center"><a href="/admin/doctor/doctoredit/id/{$vo.doctor_id}.html" style="color:#337ab7">{$vo.doctor_name}</a></td>
                              <td align="center"><img width="50" src="{$vo.doctor_avatar}" /></td>
                              <td align="center">{$vo.doctor_title}</td>
                              <td>{$vo.title}</td>
                              <td align="center">{$vo.event_status}</td>
                              <td>{$vo.create_time|date='Y-m-d H:i:s',###}</td>
                              <td>{$vo.operate}</td>
                          </tr>
                          {/foreach}
                      </table>
                      <span style="margin-top:10px; float:left;">总共{$count}条记录</span>
                      <div style="clear:both"></div>
                      <div id="page" style="text-align: right">{$list->render();}</div>
                      <input type="hidden" name="count" value="{$count}">
                </div>
            </div>
            <!-- End Example Pagination -->
        </div>
    </div>
</div>
<!-- End Panel Other -->
</div>
</body>
<script src="__JS__/jquery.min.js?v=2.1.4"></script>
<script src="__JS__/plugins/layer/laydate/laydate.js"></script>
<script src="__JS__/plugins/layer/layer.min.js"></script>
<script type="text/javascript">
    function Del(id){
        layer.confirm('确认删除此活动?', {icon: 3, title:'提示'}, function(index){
            //do something
            $.getJSON("{:url('event/Del')}", {'id' : id}, function(res){
                if(1 == res.code){
                    layer.alert(res.msg, {title: '友情提示', icon: 1, closeBtn: 0}, function(){
                        //initTable();
						window.location.reload();
                    });
                }else if(111 == res.code){
                    window.location.reload();
                }else{
                    layer.alert(res.msg, {title: '友情提示', icon: 2});
                }
            });

            layer.close(index);
        })

    }
</script>
</html>
